<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="yuan_header">
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>yuan</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" href="/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/AdminLTE.min.css}" href="/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins folder -->
    <link rel="stylesheet" th:href="@{/css/all-skins.min.css}" href="css/all-skins.min.css">
    <!-- jqgrid-->
    <link rel="stylesheet" th:href="@{/plugins/jqgrid/ui.jqgrid.css}" href="css/all-skins.min.css">
    <link rel="stylesheet" th:href="@{/plugins/jqgrid/ui.jqgrid-bootstrap.css}" href="css/all-skins.min.css">
    <link rel="stylesheet" th:href="@{/plugins/jqgrid/ui.jqgrid-bootstrap-ui.css}" href="css/all-skins.min.css">
</head>
<body>
</body>
<aside th:fragment="yuan_js">
    <script th:src="@{/libs/jquery.3.2.1.min.js}" src="/libs/jquery.3.2.1.min.js"></script>
    <script th:src="@{/libs/bootstrap.min.js}" src="/libs/bootstrap.min.js"></script>
    <script th:src="@{/plugins/jqgrid/jquery.jqGrid.min.js}"></script>
    <script th:src="@{/plugins/jqgrid/grid.locale-cn.js}"></script>
    <script th:src="@{/libs/jqgrid_common.js}"></script>
    <script th:src="@{/libs/popper.min.js}"></script>
    <script th:src="@{/libs/bootbox.min.js}"></script>
    <script th:src="@{/libs/bootbox.locales.js}"></script>
    <script th:src="@{/libs/lu.js}" src="/libs/lu.js"></script>
</aside>
</html>
